<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>用户信息</title>
		<link rel="stylesheet" href="css/userInfo.css"/>
        <link rel="stylesheet" type="text/css" href="css/input.min.css"/>
        <link rel="stylesheet" href="css/remodal.css">
        <link rel="stylesheet" href="css/nav.css">
        <link rel="stylesheet" href="css/remodal-default-theme.css">

	</head>
    <script src="js/jquery-3.1.0.min.js"></script>
    <script src="js/remodal.min.js"></script>
    <script src="js/nav.js"></script>



    <style type="text/css">
        body{
            font-family:Helvetica;
        }
		html,body{
		height: 100%;
		overflow-x:hidden ;
		}
        #title{
            font-size: 6em;
            margin: 1em;
        }
        form{
            overflow: hidden;
            margin-top: 40%;
        }
        #txtCardCount,#txtPassword ,#txtMobile,#txtPassword,#txtName,#txtrPassword,#txtSaleMobile,#txtSum,#txtUserID {
            display: block;
            width: 75%;
            height: 2em;
            line-height: 2em;
            color: #fff;
            font-size: 1.2em;
            background-color: rgba(0,0,0,.3);
            padding-left: 1em;
            margin-bottom: 1em;
            border-radius: .5em;
            margin: 0 auto 1em auto;
        }
        #set{
            width: 60%;
            font-size: 2em;
            margin: 0 auto;
        }
        #set input{
            float: left;
        }
        #set a{
            float: right;
        }
        .mgc-lg{
            width: 3em;
            height: 3em;
        }
        .mgc-lg:checked:after {
            top: .4em;
            left: .3em;
            height: 1em;
            width: 2em;
        }
        #login{
            font-size: 4.5em;
            width: 60%;
            height: 1.5em;
            margin: 1em auto 0 auto;
            text-align: center;
            background-color: rgba(255,255,255,.8);
            color: #000;
            border-radius: 2em;
        }
        #btnsub{
            height: 12.5em;
            background-color: rgba(0,0,0,.0);
            font-size: 0.5em;
            width: 100%;
            color: #000;
            border-radius: 2em;
            height: 1.5em;
        }

        .border{
            border: 4px solid rgba(0,0,0,0);
        }

        #cardpanle , #salerpanle ,#goldpanle{
            margin-top: 1.5em;
        }
    </style>
    <script>

        $(document).ready(function(){



            function alert(title,content){
                var inst = $('[data-remodal-id=modal]').remodal();
                $("#m_title").text(title);
                $("#m_content").text(content);
                inst.open();
            }

            $("#btnAddCard").click(function () {
                $("#cardpanle").toggle("slow");
            })

            $("#btnExit").click(function(){

            })



            $(document).on('confirmation', '.remodal_message', function () {

            });

            $(document).on('cancellation', '.remodal_message', function () {

            });

            $("#btnRecord").click(function () {
                $("#salerpanle").toggle("slow");
            })


            $("#btnAddGold").click(function () {
                $("#goldpanle").toggle("slow");
            })




            $("#btnAddUserEnter").click(function(){
                $.ajax({
                    url:'/User/create',
                    type:'post',
                    data:{
                        username:$("#txtMobile").val(),
                        password:$("#txtPassword").val(),
                        type:2,
                        name:$("#txtName").val()
                    },

                    success:function(data,textStatus,jqXHR){

                        if(data.result){
                            alert("成功",$("#txtName").val()+':代理创建成功！');
                            $("#txtMobile").val("");
                            $("#txtPassword").val("");
                            $("#txtrPassword").val("");
                            $("#txtName").val("");

                        } else {
                            switch (data.body.errCode){
                                case "001":
                                    alert("错误","缺少必要参数");
                                    break;
                                case "003":
                                    alert("错误","用户已存在");
                                    break;
                                case "002":
                                    alert("错误","未知错误请联系客服");
                                    break;
                                case "009":
                                    alert("错误","权限不够，请重新登陆");
                                    break;
                            }
                        }


                        $("#sales_count").text(data.sales_count);
                        $("#stock_count").text(data.stock_count);
                        $("#recharge_count").text(data.recharge_count);

                    },
                    error:function(xhr,textStatus){
                        console.log(xhr);
                        console.log(textStatus);
                    }

                });

            });

            $("#btnExit").click(function(){
                window.location = "/admin/logout";
            });


            $("#btnAddGoldEnter").click(function(){
                $.ajax({
                    url:'/Rechargecard/addgold',
                    type:'post',
                    data:{
                        gameId:$("#gameId").text(),
                        channelId:0,
                        userId:$("#txtUserID").val(),
                        sum:$("#txtSum").val(),
                        mobile:$("#txtSaleMobile").val()
                    },

                    success:function(data,textStatus,jqXHR){

                        if(data.result){
                            alert("成功",$("#txtUserID").val() +':充值成功');
                            $("#txtUserID").val("");

                        } else {
                            switch (data.body.errCode){
                                case "001":
                                    alert("错误","缺少必要参数");
                                    break;
                                case "021":
                                    alert("错误","用户不存在");
                                    break;
                                case "024":
                                    alert("错误","未知错误请联系客服");
                                    break;
                                case "009":
                                    alert("错误","权限不够，请重新登陆");
                                    break;
                            }
                        }


                        $("#sales_count").text(data.sales_count);
                        $("#stock_count").text(data.stock_count);
                        $("#recharge_count").text(data.recharge_count);

                    },
                    error:function(xhr,textStatus){
                        console.log(xhr);
                        console.log(textStatus);
                    }

                })
            });


            $("#btnAddCardEnter").click(function(){
                $.ajax({
                    url:'/Rechargecard/addcard',
                    type:'post',
                    data:{
                        gameId:$("#gameId").text(),
                        channelId:0,
                        count:$("#txtCardCount").val(),
                        mobile:$("#txtSaleMobile").val()
                    },

                    success:function(data,textStatus,jqXHR){

                        if(data.result){
                            alert("成功",$("#txtSaleMobile").val() +':充值成功');
                            $("#txtSaleMobile").val("");

                        } else {
                            switch (data.body.errCode){
                                case "001":
                                    alert("错误","缺少必要参数");
                                    break;
                                case "004":
                                    alert("错误","查找数据出错");
                                    break;
                                case "002":
                                    alert("错误","未知错误请联系客服");
                                    break;
                                case "006":
                                    alert("错误","用户不存在,请检查输入的手机号码");
                                    break;
                                case "009":
                                    alert("错误","权限不够，请重新登陆");
                                    break;
                            }
                        }


                        $("#sales_count").text(data.sales_count);
                        $("#stock_count").text(data.stock_count);
                        $("#recharge_count").text(data.recharge_count);

                    },
                    error:function(xhr,textStatus){
                        console.log(xhr);
                        console.log(textStatus);
                    }

                })

            });

        });
    </script>
	<body>
        <div id="userId" style="display: none;"><%= userInfo.id%></div>
        <div id="name" style="display: none;"><%= userInfo.id%></div>
        <div id="userId" style="display: none;"><%= userInfo.id%></div>
        <div id="gameId" style="display: none;"><%= gameId%></div>

        <!--<nav id="nav">-->
			<!---->
			<!--<div id="on-off">-->

			<!--</div>-->
		<!--</nav>-->

        <div class="btn-f">
				<span class="action btn">
					<img src="images/jinxiao.png"/>
					进展查消
				</span >
            <span class = "btn">
					<img src="images/ka.png"/>
					卡片管理
				</span>
            <span class = "btn">
					<img src="images/shangd.png"/>
					房间状态
				</span>
            <div id="xxjb" ></div>
        </div>
		<div class="view_f">
			<div class="view">
				<div class="contain">
					<div class="userInfo">

						<div  style="height: 20%;">
							<p style="text-align: center;font-size: 2.5em;"><!--<%= userInfo.name%>--></p>
		                    <p style="text-align: center;font-size: 0.8em;">(管理员)</p>

						</div>
						<div class="control" >
							<p>功能操作</p>
							<p id="xxjb"></p>
							<div class="controlInfo" id="btnRecord">
								 创建销售
							</div>

		                    <div id="salerpanle" style="display: none">
		                        <input type="number"  id="txtMobile" class="border" value="" placeholder="代理商手机"/>

		                        <input type="text"  id="txtName" class="border" value="" placeholder="代理商名称"/>

		                        <input type="password"  id="txtPassword" class="border" value="" placeholder="密码"/>

		                        <input type="password"  id="txtrPassword" class="border" value="" placeholder="再次输入"/>


		                        <div class="controlInfo" id="btnAddUserEnter" style="height: 1.0em;font-size: 1.2em;padding: 0.5em;line-height: 1em;width: 50%;">
		                            确定
		                        </div>
		                    </div>




							<div class="controlInfo" id="btnAddCard">
								充卡
							</div>
		                    <div id="cardpanle" style="display: none">
		                        <input type="number"  id="txtSaleMobile" class="border" value="" placeholder="代理商手机"/>
		                        <input type="number"  id="txtCardCount" class="border" value="" placeholder="数量"
                                       onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                       onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
		                        <div class="controlInfo" id="btnAddCardEnter" style="height: 1.0em;font-size: 1.2em;padding: 0.5em;line-height: 1em;width: 50%;">
		                            确定
		                        </div>
		                    </div>

		                    <div class="controlInfo" id="btnAddGold">
		                        充金币
		                    </div>
		                    <div id="goldpanle" style="display: none">
		                        <input type="number"  id="txtUserID" class="border" value="" placeholder="游戏ID"/>
		                        <input type="number"  id="txtSum" class="border" value="" placeholder="金额"
                                       onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                       onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>
		                        <div class="controlInfo" id="btnAddGoldEnter" style="height: 1.0em;font-size: 1.2em;padding: 0.5em;line-height: 1em;width: 50%;">
		                            确定
		                        </div>
		                    </div>

							<div class="controlInfo" id="btnExit">
								退出
							</div>


						</div>
					</div>
				</div>
			</div>

			<div class="view">
				<div class="contain">
					<div class="userInfo">

						<div  style="height: 20%;">
							<p style="text-align: center;font-size: 2.5em;"><!--<%= userInfo.name%>--></p>
		                    <p style="text-align: center;font-size: 0.8em;">(管理员)</p>

						</div>
						<div class="control" >
							<p>功能操作</p>
							<p id="xxjb"></p>
							<div class="controlInfo" id="btnRecord">
								 销售记录
							</div>

		                    <div id="salerpanle" style="display: none">
		                        <input type="number"  id="txtMobile" class="border" value="" placeholder="代理商手机"/>

		                        <input type="text"  id="txtName" class="border" value="" placeholder="代理商名称"/>

		                        <input type="password"  id="txtPassword" class="border" value="" placeholder="密码"/>

		                        <input type="password"  id="txtrPassword" class="border" value="" placeholder="再次输入"/>


		                        <div class="controlInfo" id="btnAddUserEnter" style="height: 1.0em;font-size: 1.2em;padding: 0.5em;line-height: 1em;width: 50%;">
		                            确定
		                        </div>
		                    </div>




							<div class="controlInfo" id="btnAddCard">
								购买记录
							</div>
		                    <div id="cardpanle" style="display: none">
		                        <input type="number"  id="txtSaleMobile" class="border" value="" placeholder="代理商手机"/>
		                        <input type="number"  id="txtCardCount" class="border" value="" placeholder="数量"/>
		                        <div class="controlInfo" id="btnAddCardEnter" style="height: 1.0em;font-size: 1.2em;padding: 0.5em;line-height: 1em;width: 50%;">
		                            确定
		                        </div>
		                    </div>


						</div>
					</div>
				</div>
			</div>
		</div>
		<!--<div class="touch-f">
			<div class="touch">


			</div>




			<!--切换的另一页-->
			<!--<div class="touch">

			</div>
		</div>-->-->



    </body>

    <div class="remodal_message" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="m_title"></h1>
        <p id="m_content">

        </p>
        <br>
        <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
    </div>

    <!--<script src="js/touche.js"></script>-->

    <script>
        $(window).ready(
            function(){
                $(".border").on("click",function(){
                    $(".border").css("border-color","rgba(0,0,0,0)")
                    $(this).css("border-color","#fff")
                })
            }
        )
    </script>
</html>
