 <!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>管理系统登陆</title>
		<link rel="stylesheet" type="text/css" href="css/input.min.css"/>

        <script>
            $(document).ready(function(){

                $("#login").click(function(){
                    $("#login").submit(function(){

                    });
                })


            });
        </script>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
				border: none;
				text-decoration:none;
				color: #fff;
				font-family: "微软雅黑";
			}
			#title{
				font-size: 2.2em;
				margin: 2em 1em 1em 1em;
			}
			form{
				overflow: hidden;
				margin-top: 25%;
			}
			#mobile{
				display: block;
				width: 70%;
				height: 2em;
				line-height: 2em;
				color: #fff;
				font-size: 1.2em;
				background-color: rgba(0,0,0,.3);
				padding-left: 1em;
				margin-bottom: 1em;
				border-radius: .5em;
				margin: 0 auto 1em auto;
			}
			#password{
				display: block;
				width: 70%;
				height: 2em;
				line-height: 2em;
				color: #fff;
				font-size: 1.2em;
				background-color: rgba(0,0,0,.3);
				padding-left: 1em;
				margin-bottom: 1em;
				border-radius: .5em;
				margin: 0 auto 1em auto;
			}
			#set{
				width: 60%;
				font-size: 1em;
				margin: 0 auto;
			}
			#set input{
                top:0.4em;
                right:0.2em;
				float: left;
			}
			#set a{
				float: right;
			}
			.mgc-lg{
				width: 1.2em;
				height: 1.2em;
			}
			.mgc-lg:checked:after {
			  left: 2px;
			}
			#login{
				font-size: 2em;
				width: 60%;

				margin: 1em auto 0 auto;
				text-align: center;
				background-color: rgba(255,255,255,.8);
				color: #000;
				border-radius: 2em;
			}
            #btnsub{

                background-color: rgba(0,0,0,.0);
                font-size: 1em;
                width: 100%;
                color: #000;
                border-radius: 2em;
                height: 1.5em;
            }

			.border{
				border: 4px solid rgba(0,0,0,0);
			}
		</style>
	</head>
	<body style="background-image: url(images/bg.svg); background-repeat:no-repeat ;">
		<div id="title">
            管理系统
		</div>

		<form method="POST" action="/login">
            <p style="text-align: center;margin: 0.5em;"><%= error %></p>
			<input type="text" name="username" id="mobile" class="border" value="" placeholder="手机号" />
			<input type="password" name="password" id="password" class="border" value="" placeholder="密码"/>
			<div id="set">
				<input type="checkbox" class="mgc mgc-primary mgc-lg"/> 记住密码
				<a href="">忘记密码</a>
			</div>
			<div id="login">
                <input type="submit" value="登陆" id="btnsub" >
            </div>
		</form>
		<script src="js/jquery-3.1.0.min.js"></script>
		<script>
			$(window).ready(
				function(){
					$(".border").on("click",function(){
						$(".border").css("border-color","rgba(0,0,0,0)")
						$(this).css("border-color","#fff")
					})
				}
			)
		</script>
	</body>
</html>
