<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
		<title>开设房间</title>
		<link rel="stylesheet" type="text/css" href="css/input.min.css"/>
		<link rel="stylesheet" href="css/userInfo.css"/>
        <link rel="stylesheet" href="css/remodal.css">
        <link rel="stylesheet" href="css/remodal-default-theme.css">

	</head>
	<style>
        #chek1{
            width: 90%;
            margin: 0 auto;
            /*height: 5em;*/
        }
        #chek3,#chek2{
            width: 81%;
            margin: 0 auto;
            /*padding-top: 1em;*/
        }
        #chek1>.classify{
            display: inline-block;
            width: 30%;
            margin-right: 1.5%;
            margin-top: .5em;
            text-align: center;
            /*font-size: 1.2em;*/
            /*float: left;*/
            background-color: #fff;
            color: #000;
            border-radius: 2em;
            line-height: 2em;
        }
        #chek2>.classify{
            display: inline-block;
            width: 30%;
            margin-right: 2.5%;
            margin-top: 1em;
            text-align: center;
            font-size: .9em;
            /*float: left;*/
            background-color: #fff;
            color: #000;
            border-radius: 2em;
            line-height: 2em;
        }
        #chek3{
            /*font-size: 3em;*/
        }
        /*#chek3>.style p{*/
        /*display: inline-block;*/
        /*width: 35%;*/
        /*}*/
        #chek3 span {
            margin-top: .5em;
            display: block;
        }
        #chek3 span:first-child {
            /*margin-top: .5em;*/
            display: block;
        }
        #chek3 span > input{
            /*width: 1.5em;*/
            /*height: 1.5em;*/
        }
        #chek3 span > p{
            display: inline-block;
            font-size: 1em;
            margin-left: .5em;
            width: 25%;
        }
        .mgc-lg{
            /*width: 2em !important;*/
            /*height: 2em !important;*/
            /*margin-right: .5em;*/
            /*margin-top: 2em;*/
        }
        .mgc-primary:checked:after{
            border-bottom: .3em solid #bc69d3;
            border-left: .3em solid #bc69d3;
            /*border-color: #bc69d3;*/
        }
        .mgc-primary:checked{
            background-color: #fff;

        }
        .mgc-lg:checked:after {
            left: -.1em;
            top: 0em;
            width: 1.4em;
            height: .7em;
        }
        .action{
            color: #fff !important;
            background: -webkit-linear-gradient(bottom, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(top, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(top, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
            background: linear-gradient(to top, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
        }
        .action1{
            color: #fff !important;
            background: -webkit-linear-gradient(bottom, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(top, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(top, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
            background: linear-gradient(to top, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
        }
        .title_f{
            width: 90%;
            position: relative;
            margin-top: 2.5em;
        }
        .title_t{
            font-size: 1em;
            background-color: #31244f;
            width: 25%;
            text-align: center;
            position: absolute;
            left: 37.5%;
            top: -0.5em;
        }
        #button{
            font-size: 1em;
            font-weight: bold;
            padding: .5em 3em;
            background-color: #fff;
            border-radius: 2em;
            position: absolute;
            bottom: 2em;
            left: 50%;
            margin-left: -5.5em;
            color: #000;
        }
        #mask{
            width: 100%;
            height: 100%;
            position: fixed;
            background-color: #000;
            opacity: .85;
            top: 110%;
            left: 0;
            transition: top .3s;
            filter:none !important;
            /*position: relative;*/
        }
        .mask_top{
            top: 0 !important;
        }

        #mask>img{
            width: 60%;
            float: right;
            margin: 1em;
        }

        #msk_close{
            width: 40%;
            height: 1.5em;
            text-align: center;
            /*transform: rotate(-90deg);*/
            display: block;
            margin-left: -24%;
            font-weight: bold;
            position: absolute;
            bottom: 16%;
            left: 50%;
            background-color: #fff;
            border-radius: 2em;
            color: #000;
            line-height: 1.5em;
            padding: .5em;
        }
        #mask>h2{
            margin-top: 35%;
            font-size: 2em;
            display: block;
            text-align: center !important;
            width: 100% !important;
        }
        #mask>p{
            font-size: 1.5em;
            display: block;
            text-align: center;
        }
        .mask_rows{
            width:85%;
            height:2em;
            line-height: 2em;
            text-align: center;
            border-radius: .6em;
            border:3px solid #ffffff;
            color:#ffffff;
            margin: 1em auto;
            font-size: 1em;
            background: -webkit-linear-gradient(left, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
            background: -o-linear-gradient(right, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
            background: -moz-linear-gradient(right, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
            background: linear-gradient(to right, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
        }

        .filter{
            filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */

            -webkit-filter: blur(10px); /* Chrome, Opera */
            -moz-filter: blur(10px);
            -ms-filter: blur(10px);
            filter: blur(10px);
        }
	</style>
	<script src="js/jquery-3.1.0.min.js"></script>
	<script src="js/input.js"></script>
	<script src="js/gama.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
	<script src="http://cdn.bootcss.com/jQuery.my/1.2.10/jquerymy.min.js"></script>
    <script src="js/remodal.min.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script src="js/wx.js"></script>
	<body>
    <div id="head">开设房间 <img id="clickToBack"  src="images/fanhui.png"/></div>
    <div id="xxjb"></div>
    <div id="chek1">
        <span class="classify action">跑胡子</span>
        <span class="classify">跑得快</span>
        <span class="classify">麻将</span>
    </div>
    <div class="title_f">
        <div id="xxjb"></div>
        <div class="title_t">游戏列表</div>
    </div>
    <div id="chek2">
        <!--<div class="classify action">长沙麻将</div>
        <div class="classify">四川麻将</div>-->
    </div>
    <div class="title_f">
        <div id="xxjb"></div>
        <div class="title_t">玩法选择</div>
    </div>
    <div id="chek3">
        <!--<span>
            <input type="checkbox" class="mgc mgc-primary mgc-lg"/>
            这是一条游戏设置
        </span>
        <span>
            <input type="radio"  name="rad[1]">
              <input type="radio"  name="rad[1]" checked>
        </span>-->


    </div>
    <div id="button">
        创建房间
    </div>



    <div id="mask">
        <img  src="images/tishi.jpg" alt="" />
        <div id="msk_close">点击返回</div>
        <h2>房间号</h2>
        <div id="mask_number" class="mask_rows">497933</div>

        <p>详细信息</p>

        <div id="mask_game" class="mask_rows">游戏:15张跑的快</div>
        <div id="mask_news" class="mask_rows">房间状态:进行中</div>
    </div>


    <!--//重写提示框-->

    <div class="remodal_message" data-remodal-id="modal1">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="m_title"></h1>
        <p id="m_content">

        </p>
        <br>
        <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
    </div>

    <div class="remodal_message" data-remodal-id="modal">
        <button data-remodal-action="close" class="remodal-close"></button>
        <h1 id="ms_title"></h1>
        <p id="ms_content">

        </p>
        <br>
        <button id="confirm_true" data-remodal-action="confirm" class="remodal-confirm">确定</button>
        <button data-remodal-action="confirm" class="remodal-confirm">取消</button>
    </div>

		<script>
            //重写提示框alert方法
//            function alert(title, content) {
//                var inst = $('[data-remodal-id=modal1]').eq(0).remodal();
//                $("#m_title").text(title);
//                $("#m_content").text(content);
//                inst.open();
//            }
//            function confirm (title, content) {
//                var inst = $('[data-remodal-id=modal]').eq(0).remodal();
//                $("#ms_title").text(title);
//                $("#ms_content").text(content);
//                inst.open();
//            }


            var url = window.location.href;
            var id = url.substr(url.indexOf("?")+9,url.length)*1;

			$("#clickToBack").on("click",function(){
                location.href = "/login"
			});
			var socket = io('http://192.168.1.45:8066');

            $("#msk_close").click(function(){
                var option = {
                    url:"http://api.octorich.net/share/download",
                    title:"八爪互娱",
                    desc:"八爪互娱游戏下载"
                }
                asdce(option)
                $("#mask").removeClass("mask_top")
                $("#head").removeClass("filter")
                $(".row-f").removeClass("filter")
            })

			socket.on("room",function(data){
				socket.on('room', function (data) {
//			        writeconsole(JSON.stringify(data));
			        //socket.emit('my other event', { my: 'data' });
			        console.log(data);
			        switch (data.tag){
			            //创建成功
			            case 1:
			               console.log("ok")
			                break;
			            //游戏中转服务连接成功
			            case 2:
			                console.log("gameserver 连接成功")
			                break;
			            //游戏中转服务断开连接
			            case 3:
			                console.log("gameserver 断开连接")
			                break;
			            case 7:
			            	if(data.result){
                                var number = data.body.roomId;
                                var game = $(".action1").eq(0).text();
                                $("#mask").addClass("mask_top");
                                $("#head").addClass("filter")
                                $(".row-f").addClass("filter")

                                $("#mask_game").text(game);
                                $("#mask_number").text(number);
                                var option = {
                                    url:"http://api.octorich.net/share/room?sid="+number,
                                    title:"快速进房",
                                    desc:"邀请您进入游戏房间"
                                }
                                asdce(option)
			            	}else{
			            		if(data.body.code == 13) alert("sorry，创建房间上限");
			            		if(data.body.code == 12) alert("sorry，服务器已经被挤爆了");
			            		if(data.body.code == 11) alert("sorry，创建配置错误，请重新操作");
			            	}
			            	break;
			        }
			    });
			})
			function writeconsole(content){
			    $("#console").append(content + "\n");
			    var psconsole = $('#console');
			    if(psconsole.length)
			        psconsole.scrollTop(psconsole[0].scrollHeight - psconsole.height());
			}
			$("#button").on("click",function(){
				var kindId = $(".action1").attr("data-kindid")*1;
				var kId = $('input:radio[name="number"]:checked');
				if(kId.length !== 0){

					if(kindId == 12 || kindId == 13){

						var fx = $('input:radio[name="xp"]:checked').attr("data-bfanxing");
						if(fx == "true") fx = true;
						if(fx == "false") fx =false;
						socket.emit('room',{tag:3,agentId:id,kId:kId.attr("data-keyid")*1,kind:kindId,bfanxing:fx});
						return;
					}
					if(kindId == 19){

						var bHongHeiHu = $('#hhh').is(':checked');
						var bTianDiHu = $('#tdh').is(':checked');
						console.log(bHongHeiHu);
						if(bHongHeiHu == true){
							bHongHeiHu = true
						}else{
							bHongHeiHu = false
						}
						if(bTianDiHu == true){
							bHongHeiHu = true
						}else{
							bTianDiHu = false
						}
						console.log(bHongHeiHu)
						socket.emit('room',{tag:3,agentId:id,kId:kId.attr("data-keyid")*1,kind:kindId,bHongHeiHu:bHongHeiHu,bTianDiHu:bTianDiHu});
						return;
					}
					if(kindId == 30){
						var cbZhaNiaoCount = $('input:radio[name="shuliang"]:checked').attr("data-count")*1;
						var cbDoubleType = $('input:radio[name="shuliang"]:checked').attr("data-cbDoubleType")*1;
						var cbzhaniaotype = $('input:radio[name="zhaniao"]:checked').attr("data-cbzhaniaotype")*1;
						if(cbDoubleType !== 1 && cbDoubleType !== 2){
							socket.emit('room',{tag:3,agentId:id,kId:kId.attr("data-keyid")*1,kind:kindId,cbZhaNiaoCount:cbZhaNiaoCount,cbDoubleType:0,cbzhaniaotype:cbzhaniaotype});
							return;
						};
						socket.emit('room',{tag:3,agentId:id,kId:kId.attr("data-keyid")*1,kind:kindId,cbZhaNiaoCount:cbZhaNiaoCount,cbDoubleType:cbDoubleType,cbzhaniaotype:cbzhaniaotype});
						return;
					}
					socket.emit('room',{tag:3,agentId:id,kId:kId.attr("data-keyid")*1,kind:kindId});

				}else{
					alert("先选择玩法");
				}

			})
			$(document).ready(function(){
				socket.emit('room',{agentId:id,tag:1});
                asdce({
                    url:"http://api.octorich.net/share/download",
                    title:"八爪互娱",
                    desc:"八爪互娱游戏下载"
                })
			})
		</script>
	</body>
</html>













































