<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			*{
				margin: 0;
				padding: 0;
				border: 0;
				color: #fff;
			}
			body{
				width: 100%;
				height: 100%;
				background-color: #31244f;
			}
			#title{
				font-size: 6em;
				margin: 1em 0 .5em 1em;
			}
			img{
				display: block;
				width: 80%;
				height: 8px;
				margin: 0 auto;
			}
			#zxid{
				font-size: 4em;
				text-align: center;
				margin-top: 1.5em;
			}
			form{
				margin: 6em auto 0 auto;
			}
			form input{
				display: block;
				width: 60%;
				height: 2em;
				line-height: 2em;
				color: #fff;
				font-size: 3em;
				background-color: rgba(0,0,0,.3);
				padding-left: 1em;
				margin-bottom: 1em;
				border-radius: .5em;
				margin: 0 auto 1em auto;
			}
			#submit{
				font-size: 4.5em;
				width: 60%;
				height: 1.5em;
				line-height: 1.5em;
				margin: 1em auto 0 auto;
				text-align: center;
				background-color: rgba(255,255,255,.8);
				color: #000;
				border-radius: 2em;
			}
			.border{
				border: 6px solid rgba(0,0,0,0);
			}
		</style>
	</head>
	<body>
		<div id="title">
			拨付卡片
		</div>
		<img src="img/row.jpg"/>
		<div id="zxid">
			指向ID号
		</div>
		<form action="" method="post">
			<input type="text" class="border" value="" placeholder="ID号" />
			<div id="submit" >
				确定			
			</div>
		</form>
		<script src="js/jquery-3.1.0.min.js"></script>
		<script>
			$(window).ready(
				function(){
					$(".border").on("click",function(){
						$(".border").css("border-color","rgba(0,0,0,0)")
						$(this).css("border-color","#fff")
					})
				}
			)
		</script>
	</body>
</html>
