<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>房间状态</title>
		<link rel="stylesheet" href="css/userInfo.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"  />
		<link rel="stylesheet" type="text/css" href="css/rooms.css"/>
        <link rel="stylesheet" href="css/remodal.css">
        <link rel="stylesheet" href="css/remodal-default-theme.css">

		<script src="js/jquery-3.1.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
		<script src="http://cdn.bootcss.com/jQuery.my/1.2.10/jquerymy.min.js"></script>
        <!--<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>-->
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="js/wx.js"></script>
        <script src="js/remodal.min.js"></script>
	</head>
	<body>
		<div id="head">房间状态 <img id="clickToBack" src="images/fanhui.png"/></div>
		<div id="xxjb"></div>

		<div id="rooms">
            <!--<div class="row-f act">
                <div class="rows">
                    <span class="number">497933</span>
                    <span class="game">长沙麻将</span>
                    <span class="time">12分钟</span>
                    <span class="news">进行中</span>
                </div>

                <div class="content">
                    <span class="c_number">房间号:497933</span>
                    <span class="c_game">游戏:长沙麻将</span>
                    <span class="c_time">时间:12分钟</span>
                    <span class="c_news">状态:进行中</span>
                    <div class="btn share">分享</div>
                    <div class="btn close">解散</div>
                </div>
            </div>-->


		</div>

        <div id="mask">
            <img  src="images/tishi.jpg" alt="" />
            <div id="msk_close">点击返回</div>
            <h2>房间号</h2>
            <div id="mask_number" class="mask_rows">497933</div>

            <p>详细信息</p>

            <div id="mask_game" class="mask_rows">游戏:15张跑的快</div>
            <div id="mask_news" class="mask_rows">房间状态:进行中</div>
        </div>


        <!--//重写提示框-->

        <div class="remodal_message" data-remodal-id="modal1">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1 id="m_title"></h1>
            <p id="m_content">

            </p>
            <br>
            <button data-remodal-action="confirm" class="remodal-confirm">确定</button>
        </div>

        <div class="remodal_message" data-remodal-id="modal">
            <button data-remodal-action="close" class="remodal-close"></button>
            <h1 id="ms_title"></h1>
            <p id="ms_content">

            </p>
            <br>
            <button id="confirm_true" data-remodal-action="confirm" class="remodal-confirm">确定</button>
            <button data-remodal-action="confirm" class="remodal-confirm">取消</button>
        </div>

		<script>
            //重写提示框alert方法
//            function alert(title, content) {
//                var inst = $('[data-remodal-id=modal1]').eq(0).remodal();
//                $("#m_title").text(title);
//                $("#m_content").text(content);
//                inst.open();
//            }
//
//            function confirm (title, content,callb) {
//                var inst = $('[data-remodal-id=modal]').eq(0).remodal();
//                $("#ms_title").text(title);
//                $("#ms_content").text(content);
//                inst.open();
//                $("#confirm_true").on("click",function (){
//                    callb();
////                    return false;
//                })
//
//            }

		var game = [
	{

		"type":1,
		"name":"攸县·碰胡子",
		"kindId":10,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"6局",
						"count":6,
						"keyId":1
					},
					{
						"name":"12局",
						"count":12,
						"keyId":2
					}
				]
			},
		}
	},
	{
		"type":1,
		"name":"常德·跑胡子",
		"kindId":11,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"6局",
						"count":6,
						"keyId":3
					},
					{
						"name":"12局",
						"count":12,
						"keyId":4
					}
				]
			},
		}
	},
	{
		"type":1,
		"name":"双王·跑胡子",
		"kindId":12,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"6局",
						"count":6,
						"keyId":5
					},
					{
						"name":"12局",
						"count":12,
						"keyId":6
					}
				]
			},
			"xp":{
				"plt":0,
				"content":[
					{
						"name":"翻省",
						"bFanXing":true
					},
					{
						"name":"跟省",
						"bFanXing":false
					}
				]
			}
		}
	},
	{
		"type":1,
		"name":"四王·跑胡子",
		"kindId":13,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"6局",
						"count":6,
						"keyId":7
					},
					{
						"name":"12局",
						"count":12,
						"keyId":8
					}
				]
			},
			"xp":{
				"plt":0,
				"content":[
					{
						"name":"翻省",
						"bFanXing":true
					},
					{
						"name":"跟省",
						"bFanXing":false
					}
				]
			}
		}
	},
	{
		"type":1,
		"name":"衡阳·六胡抢",
		"kindId":14,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"6局",
						"count":6,
						"keyId":9
					},
					{
						"name":"12局",
						"count":12,
						"keyId":10
					}
				]
			},
		}
	},
	{
		"type":1,
		"name":"衡阳·十胡卡",
		"kindId":15,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"6局",
						"count":6,
						"keyId":11
					},
					{
						"name":"12局",
						"count":12,
						"keyId":12
					}
				]
			},
		}
	},
	{
		"type":1,
		"name":"祁东·六胡抢",
		"kindId":16,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"6局",
						"count":6,
						"keyId":13
					},
					{
						"name":"12局",
						"count":12,
						"keyId":14
					}
				]
			},
		}
	},
	{
		"type":1,
		"name":"桂林·大字牌",
		"kindId":17,
		"config":{

			"number":{
				"plt":0,
				"content":[
					{
						"name":"6局",
						"count":6,
						"keyId":15
					},
					{
						"name":"12局",
						"count":12,
						"keyId":16
					}
				]
			},
		}
	},
	{
		"type":1,
		"name":"湘乡·告胡子",
		"kindId":18,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"1局",
						"count":1,
						"keyId":17
					},
					{
						"name":"2局",
						"count":2,
						"keyId":18
					}
				]
			},
		}
	},
	{
		"type":1,
		"name":"邵阳·剥皮",
		"kindId":19,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"1局",
						"count":1,
						"keyId":19
					},
					{
						"name":"2局",
						"count":2,
						"keyId":20
					}
				]
			},
			"style":[
				{	"id" : "hhh",
					"name":"红黑胡"
				},
				{
					"id" :"tdh",
					"name":"天地胡"
				}
			]
		}
	},
	{
		"type":2,
		"name":"跑得快十六张",
		"kindId":20,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"8局",
						"count":8,
						"keyId":21
					},
					{
						"name":"16局",
						"count":16,
						"keyId":22
					}
				]
			},
		}
	},
	{
		"type":2,
		"name":"跑得快十五张",
		"kindId":21,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"8局",
						"count":8,
						"keyId":23
					},
					{
						"name":"16局",
						"count":16,
						"keyId":24
					}
				]
			},
		}
	},
	{
		"type":3,
		"name":"长沙·麻将",
		"kindId":30,
		"config":{
			"number":{
				"plt":0,
				"content":[
					{
						"name":"8局",
						"count":8,
						"keyId":41
					},
					{
						"name":"16局",
						"count":16,
						"keyId":42
					}
				]
			},
			"zhaniao":[
				{
					"name":"中鸟加分",
					"cbZhaNiaoType":1
				},
				{
					"name":"中鸟翻倍",
					"cbZhaNiaoType":2
				}
			],
			"jiafen":[
				{
					"name":"扎2鸟",
					"cbZhaNiaoCount":2
				},
				{
					"name":"扎4鸟",
					"cbZhaNiaoCount":4
				},
				{
					"name":"扎6鸟",
					"cbZhaNiaoCount":6
				}
			],
			"fanbei":[
				{
					"name":"1鸟",
					"cbZhaNiaoCount":1,
					"cbDoubleType":1
				},
				{
					"name":"2鸟",
					"cbZhaNiaoCount":2,
					"cbDoubleType":1
				},
				{
					"name":"鸟对鸟",
					"cbZhaNiaoCount":2,
					"cbDoubleType":2
				},
			]

		}
	},
]
        var url = window.location.href;
        var id = url.substr(url.indexOf("?")+9,url.length)*1;
		var socket = io('http://192.168.1.45:8066');



		socket.on('room', function (data) {
//			        writeconsole(JSON.stringify(data));
	        //socket.emit('my other event', { my: 'data' });
	        switch (data.tag){
	            //创建成功
	            case 1:
	               console.log("ok")
	                break;

	            //游戏中转服务连接成功
	            case 2:
	                console.log("gameserver 连接成功")
	                socket.emit('room',{agentId:id,tag:2});
	                console.log("已经发送获取房间请求")
	                break;

	            //游戏中转服务断开连接
	            case 3:
	                console.log("gameserver 断开连接")
	                $("#rooms").text("")
	                break;

	            //接受房间列表
                case 4:
                    $("#rooms").text("")
                    console.log("接受到房间")
                    data.roomList.forEach(function(item){
                        addroom(item)
                    })
                    break;


                case 5:
                    //接受房间删除成功消息
                    if(data.result){
                        alert(data.roomId+"删除成功")
                        $("."+data.roomId+"").remove()
                    }else{
                        alert(data.roomId+"删除失败")
                    }
                    break;

                case 6:
                    //接受房间状态改变的消息
                    if(data.body.roomStatus == 2){
                        $("."+data.body.roomId+"").remove();
                    }else if(data.body.roomStatus == 1){
                        var roomzt = "游戏中";
                        var dom = $("."+data.body.roomId+"");
                        if(dom.length == 0){
                            addroom(data.body)
                        }
                        dom.find(".roomzt").eq(0).text(roomzt);
                        dom.find(".currentCount").eq(0).text(data.body.currentCount);
                        dom.find(".gameCount").eq(0).text(data.body.gameCount);
                    }else if(data.body.roomStatus == 0) {
                        var roomzt = "空闲";
                        var dom = $("."+data.body.roomId+"");
                        if(dom.length == 0){
                            addroom(data.body)
                        }
                        dom.find(".roomzt").eq(0).text(roomzt);
                        dom.find(".currentCount").eq(0).text(data.body.currentCount);
                        dom.find(".gameCount").eq(0).text(data.body.gameCount);
                    }
                    break;
                case 8:
//            	console.log("欸呀呀")
                    socket.emit('room',{agentId:id,tag:2});
                    break;
	        }
	    });

            function addroom (obj){
                if(obj.roomStatus == 0) var roomzt = "空闲";
                if(obj.roomStatus == 1) var roomzt = "游戏中";
                if(obj.roomStatus == 2) return;
                game.forEach(function(item){
                    var kindId = parseInt(obj.roomId/10000)
                    if(item.kindId == kindId ) {
                        var str = '<div class="row-f '+obj.roomId+'">';
                        str+='<div class="rows" onclick = "rowsc(this)">';
                        str+='<span class="number">'+obj.roomId+'</span>';
                        str+='<span class="game">'+item.name+'</span>';
                        str+='<span class="time">12分钟</span>';
                        str+='<span class="news">'+roomzt+'</span>';
                        str+='</div>';

                        str+='<div  class="content">';
                        str+='<span class="c_number">房间号:'+obj.roomId+'</span>';
                        str+='<span class="c_game">游戏:'+item.name+'</span>';
                        str+='<span class="c_time">时间:12分钟</span>';
                        str+='<span class="c_news">状态:'+roomzt+'</span>';
                        str+='<span class="currentCount">总局数:'+obj.gameCount+'</span>';
                        str+='<span class="gameCount">当前局数:'+obj.currentCount+'</span>';
                        str+='<div data-roomId="'+obj.roomId+'" onclick = "mask(this)" class="btns share">分享</div>';
                        str+='<div data-roomId="'+obj.roomId+'" onclick = "closeRoom(this)" class="btns close">解散</div>';
                        str+='</div>';
                        str+='</div>';

                        $("#rooms").append($(str))

                    }
                })
            }



            function closeRoom (obj){
                var roomId = $(obj).attr("data-roomId")*1
                if(confirm("确定解散"+roomId+"号房间？")){
                    socket.emit('room',{agentId:id,tag:4,roomId:roomId})
                }

            }

            function rowsc (obj){
                $(".act").removeClass("act");
                $(obj).parents('.row-f').addClass("act");
            }

            $("#clickToBack").on("click",function(){
                location.href = "/login"
            });

            function mask (obj){
                var number = $(".act").find(".number").eq(0).text();
                var game = $(".act").find(".game").eq(0).text();
                var news = $(".act").find(".news").eq(0).text();
                $("#mask").addClass("mask_top");
                $("#head").addClass("filter")
                $(".row-f").addClass("filter")

                $("#mask_game").text(game);
                $("#mask_number").text(number);
                $("#mask_news").text(news);
                var option = {
                    url:"http://api.octorich.net/share/room?sid="+number,
                    title:"快速进房",
                    desc:"邀请您进入游戏房间"
                }
                asdce(option)
            }

            $("#msk_close").click(function(){
                var option = {
                    url:"http://api.octorich.net/share/download",
                    title:"八爪互娱",
                    desc:"八爪互娱游戏下载"
                }
                asdce(option)
                $("#mask").removeClass("mask_top")
                $("#head").removeClass("filter")
                $(".row-f").removeClass("filter")
            })

		$(document).ready(function(){
//            confirm("aaaa","asdasdasdasdasd",function () {
//                console.log("行不行呢")
//            })
//            if(confirm()){
//
//            }
//            console.log("bbbbbb")
			socket.emit('room',{agentId:id,tag:1});
            asdce({
                url:"http://api.octorich.net/share/download",
                title:"八爪互娱",
                desc:"八爪互娱游戏下载"
            })


//			$(".share").click();

		})
		</script>
	</body>
</html>
