<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
    <title>用户信息</title>
    <link rel="stylesheet" href="css/userInfo.css"/>
    <link rel="stylesheet" type="text/css" href="css/input.min.css"/>
    <link rel="stylesheet" href="css/remodal.css">
    <link rel="stylesheet" href="css/remodal-default-theme.css">
    <link rel="stylesheet" href="css/nav.css">
    <link rel="stylesheet" type="text/css" href="css/rooms.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css"  />
    <link rel="stylesheet" type="text/css" href="css/magic-input.css"  />
</head>
<style type="text/css">
    html,body{
        margin:0;
        padding:0;
        /*min-height: 100%;*/
        /*overflow: hidden;*/
        /*overflow-x:hidden ;*/
        /*overflow-y:auto;*/
        /*-ms-overflow-x: hidden;*/
    }
    #title {
        font-size: 6em;
        margin: 1em;
    }

    form {
        overflow: hidden;
        margin-top: 40%;
    }

    #txtCardCount {
        display: block;
        width: 75%;
        height: 2em;
        line-height: 2em;
        color: #fff;
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, .3);
        padding-left: 1em;
        margin-bottom: 1em;
        border-radius: .5em;
        margin: 0 auto 1em auto;
    }

    #txtUserId,#txtNewPwd,#txtOldPwd,#txtComfirmPwd {
        display: block;
        width: 75%;
        height: 2em;
        line-height: 2em;
        color: #fff;
        font-size: 1.2em;
        background-color: rgba(0, 0, 0, .3);
        padding-left: 1em;
        margin-bottom: 1em;
        border-radius: .5em;
        margin: 0 auto 1em auto;
    }

    #set {
        width: 60%;
        font-size: 2em;
        margin: 0 auto;
    }

    #set input {
        float: left;
    }

    #set a {
        float: right;
    }

    /*.mgc-lg {*/
    /*width: 3em;*/
    /*height: 3em;*/
    /*}*/

    /*.mgc-lg:checked:after {*/
    /*top: .4em;*/
    /*left: .3em;*/
    /*height: 1em;*/
    /*width: 2em;*/
    /*}*/

    #login {
        font-size: 4.5em;
        width: 60%;
        height: 1.5em;
        margin: 1em auto 0 auto;
        text-align: center;
        background-color: rgba(255, 255, 255, .8);
        color: #000;
        border-radius: 2em;
    }

    #btnsub {
        height: 12.5em;
        background-color: rgba(0, 0, 0, .0);
        font-size: 0.5em;
        width: 100%;
        color: #000;
        border-radius: 2em;
        height: 1.5em;
    }

    .border {
        border: 4px solid rgba(0, 0, 0, 0);
    }

    #cardpanle ,#cardpanles{
        margin-top: 1.5em;
    }


    /*openRoom*/
    #chek1{
        width: 90%;
        margin: 0 auto;
        /*height: 5em;*/
    }
    #chek3,#chek2{
        width: 78%;
        margin: 0 auto;
        /*padding-top: 1em;*/
    }
    #chek1>.classify{
        display: inline-block;
        width: 30%;
        margin-right: 1.5%;
        margin-top: .5em;
        text-align: center;
        font-size: 14px;
        /*float: left;*/
        background-color: #fff;
        color: #000;
        border-radius: 2em;
        line-height: 2em;
    }
    #chek2>.classify{
        display: inline-block;
        width: 30%;
        margin-right: 2.5%;
        margin-top: 1em;
        text-align: center;
        font-size: 12px;
        /*float: left;*/
        background-color: #fff;
        color: #000;
        border-radius: 2em;
        line-height: 2em;
    }
    #chek3{
        /*font-size: 3em;*/
    }
    /*#chek3>.style p{*/
    /*display: inline-block;*/
    /*width: 35%;*/
    /*}*/
    #chek3 span {
        margin-top: .5em;
        display: block;
        width:100%;
    }
    #chek3 span:first-child {
        /*margin-top: .5em;*/
        display: block;
    }
    #chek3 span > input{
        /*width: 1.5em;*/
        /*height: 1.5em;*/
    }
    #chek3 span > p{
        display: inline-block;
        font-size: .7em;
        margin-left: .5em;
        width: 25%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;
    }

    @media (max-width: 330px) {
        #chek3 span > p{
            width:40%;
        }
    }
    .mgc-lg{
        /*width: 2em !important;*/
        /*height: 2em !important;*/
        /*margin-right: .5em;*/
        /*margin-top: 2em;*/
    }
    .mgc-primary:checked:after{
        border-bottom: .3em solid #bc69d3;
        border-left: .3em solid #bc69d3;
        /*border-color: #bc69d3;*/
    }
    .mgc-primary:checked{
        background-color: #fff;

    }
    .mgc-lg:checked:after {
        top: -1px;
        left: -1px;
        height: 10px;
        width: 20px;
    }
    .action{
        color: #fff !important;
        background: -webkit-linear-gradient(bottom, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(top, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(top, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
        background: linear-gradient(to top, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
    }
    .action1{
        color: #fff !important;
        background: -webkit-linear-gradient(bottom, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(top, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(top, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
        background: linear-gradient(to top, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
    }
    .title_f{
        width: 90%;
        position: relative;
        margin-top: 1.5em;
    }
    .title_t{
        font-size: 1em;
        background-color: #31244f;
        width: 25%;
        text-align: center;
        position: absolute;
        left: 37.5%;
        top: -0.5em;
    }
    #button{
        font-size: 1em;
        font-weight: bold;
        padding: .5em 3em;
        background-color: #fff;
        border-radius: 2em;
        position: absolute;
        bottom: -4em;
        left: 50%;
        margin-left: -5.5em;
        color: #000;
    }
    #maskt{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: #000;
        opacity: .85;
        top: 110%;
        left: 0;
        transition: top .3s;
        filter:none !important;
        /*position: relative;*/
    }
    .maskt_top{
        top: 0 !important;
    }

    #maskt>img{
        width: 60%;
        float: right;
        margin: 1em;
    }

    #mskt_close{
        font-size: 14px;
        width: 20%;
        height: 1.5em;
        text-align: center;
        /*transform: rotate(-90deg);*/
        display: block;
        margin-left:5%;
        font-weight: bold;
        position: absolute;
        bottom: 20%;
        left: 50%;
        background-color: #fff;
        border-radius: .5em;
        color: #000;
        line-height: 1.5em;
        padding: .5em;
    }
    #msk_close{
        font-size: 14px;
        width: 20%;
        height: 1.5em;
        text-align: center;
        /*transform: rotate(-90deg);*/
        display: block;
        margin-left: 5%;
        font-weight: bold;
        position: absolute;
        bottom: 20%;
        left: 50%;
        background-color: #fff;
        border-radius: 0.5em;
        color: #000;
        line-height: 1.5em;
        padding: .5em;
    }
    #maskt>h2{
        margin-top: 35%;
        font-size: 1.5em;
        display: block;
        text-align: center !important;
        width: 100% !important;
    }
    #maskt>p{
        font-size: 1.2em;
        display: block;
        text-align: center;
    }
    .mask_rows{
        width:85%;
        height:2em;
        line-height: 2em;
        text-align: center;
        border-radius: .6em;
        border:3px solid #ffffff;
        color:#ffffff;
        margin: 1em auto;
        font-size: 12px;
        background: -webkit-linear-gradient(left, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
    }

    .filter{
        /*filter: url(blur.svg#blur); !* FireFox, Chrome, Opera *!*/

        -webkit-filter: blur(10px); /* Chrome, Opera */
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
    .userImg,.userInfo_select{
        float: left;
    }
    .userImg{
        width:60px;
        height:60px;
        border-radius: 50%;
        border:4px solid #bc69d3 ;
    }
    .userImg>img{
        width:100%;
        height:100%;
        border-radius: 50%;
    }
    .item{
        list-style: none;
        width:100%;
        height:80px;
        margin-bottom:3%;
    }
    .userInfo_select{
        width:55%;
        padding-left:2%;
        /*background: yellow;*/
    }
    .userInfo_select p{
        line-height: 32px;
        font-size: .8em;
    }
    .countBoxs{
        width:18%;
        float: right;
        /*background: red;*/
    }
    .saleCounts{
        border:1px solid;
        width:45px;
        height:40px;
        line-height: 40px;
        font-weight: bold;
        text-align: center;
        border-radius: 10px;
        background: -webkit-linear-gradient(top,#bc69d3, #3626ab); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(top, #bc69d3, #3626ab); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(top, #bc69d3, #3626ab); /* Firefox 3.6 - 15 */
        background: linear-gradient(to top, #bc69d3, #3626ab); /* 标准的语法（必须放在最后） */
    }
    .saleTimes{
        font-size: .6em;
        text-align: center;
        margin-top:1%;
    }
    .image{
        float: left;
        margin-top: 2px;
    }
    .saleContent{
        width:90%;
    }
    #xxjbs{
        width: 100%;
        height: 2px;
        margin: .5em auto;
        margin-bottom: 1em;
        background: -webkit-linear-gradient(left, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
        background: -o-linear-gradient(right, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
        background: -moz-linear-gradient(right, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
        background: linear-gradient(to right, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
    }
    /*rooms*/


    #pull-up{
        width:100%;
        height: 30px;
        text-align: center;
        padding:10px 0;
        display: none;
    }
    #saleNumber{
        height:90px !important;
        overflow:visible;
    }

    @media (min-width: 780px) {
        .tishi_img{
           display: none;
        }
        #maskt>h2,#mask>h2{
            margin-top:10%;
        }
        /*#mskt_close{*/
            /*width:15%;*/
        /*}*/
        /*#mask_copy, #maskt_copy{*/
            /*font-size: 14px;*/
            /*width: 15%;*/
            /*height: 1.5em;*/
            /*text-align: center;*/
            /*!*transform: rotate(-90deg);*!*/
            /*display: block;*/
            /*margin-left: -24%;*/
            /*font-weight: bold;*/
            /*position: absolute;*/
            /*bottom: 16%;*/
            /*left: 50%;*/
            /*!*background-color: #fff;*!*/
            /*border-radius: 2em;*/
            /*color: #000;*/
            /*line-height: 1.5em;*/
            /*padding: .5em;*/
        /*}*/
    }

    .date_div{
        margin:0 auto;
        /*background: red;*/
        width:84%;
        text-align: center;
    }
    .date_span p{
        display: inline-block;
        font-size: .7em;
        /*margin-left: .5em;*/
        /*width: 21%;*/
        overflow: hidden;
        white-space: nowrap;
        text-overflow: clip;
        margin-right:2.5em;
    }
    .myradio{
        margin-left:-4px;
    }
    .saleNum{
        width:55%;
        background: -webkit-linear-gradient(bottom, #3626ab, #bc69d3);
        background: -o-linear-gradient(top, #3626ab, #bc69d3);
        background: -moz-linear-gradient(top, #3626ab, #bc69d3);
        background: linear-gradient(to top, #3626ab, #bc69d3);
        text-align: center;
        margin-top:1em;
        border-radius: 16px;
        padding:2%;
    }
    .saleDetail{
        width:100%;
        /*background: red;*/
        text-align: center;
        font-size:1.3em;
        margin-top:0.5em;
    }
    .date_span{
        display: inline-block;
        width:100%;
        /*background: red;*/
        padding-left:5%;
    }
    .saleData_div{
        width:100%;
        /*background: green;*/
    }
    .saleData_div{
        text-align: center;
    }
    .saleData_div ul{
        width:95%;
        margin-top:1em;
        font-size:.9em;
        /*background: red;*/
    }
    .saleData_div ul li{
        /*background: green;*/
        margin-top:.5em;
    }
    .li_span1,.li_span11{
        float: left;
    }
    .li_span22{
        margin-right:15%;
    }
    .li_span33{
        float: right;
        margin-right:10%;
    }
    .li_span3{
        float: right;
    }
    .li_span2{
        /*text-align:center;*/
        margin-left:5%;
    }
    #saleButton{
        border:0;
        width:26%;
        text-align: center;
        padding:2%;
        margin-top:0.5em;
        border-radius:16px;
        background: -webkit-linear-gradient(bottom, #3626ab, #bc69d3);
        background: -o-linear-gradient(top, #3626ab, #bc69d3);
        background: -moz-linear-gradient(top, #3626ab, #bc69d3);
        background: linear-gradient(to top, #3626ab, #bc69d3);
    }
    /*rooms*/
</style>

<body >
<div id="userId" style="display: none;"><%= userInfo.id %></div>
<div id="name" style="display: none;"><%= userInfo.id %></div>
<div id="userId" style="display: none;"><%= userInfo.id %></div>
<div id="gameId" style="display: none;"><%= gameId %></div>
<div id="agentId" style="display: none;"><%= userInfo.agentId %></div>
<div class="lgd act_lgd">

    <!--<nav id="nav">-->
    <!---->
    <!--<div id="on-off">-->

    <!--</div>-->
    <!--</nav>-->
    <div class="btn-f">
			<span class="action btn">
				<img src="images/jinxiao.png"/>
				销售管理
			</span >
        <span class = "btn">
				<img src="images/ka.png"/>
				工会管理
			</span>
        <span class = "btn">
				<img src="images/shangd.png"/>
				开房神器
			</span>
    </div>

    <div class="view_f">
        <div class="view">

            <div class="contain">
                <div class="userInfo">
                    <p>用户信息</p>
                    <div id="xxjb"></div>
                    <div class="content saleInfo" id="saleNumber">
                        <p><%= userInfo.name %></p>
                        <div class="sailsInfoBox">
                            <div class="sailsInfo">
                                <p>销售数</p>
                                <span id="sales_count"></span>
                            </div>
                            <div class="sailsInfo">
                                <p>库存数</p>
                                <span id="stock_count"></span>
                            </div>
                            <div class="sailsInfo">
                                <p>会员数</p>
                                <span id="recharge_count"></span>
                            </div>
                        </div>
                    </div>
                    <div class="control">
                        <p>功能操作</p>
                        <div class="controlInfo" id="btnAddCard">
                            拨付卡片
                        </div>
                        <div id="cardpanle" style="display: none">
                            <input type="number" id="txtUserId" class="border" value="" placeholder="用户ID"/>

                            <input type="number" id="txtCardCount" class="border" value="" placeholder="数量"
                                   onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                                   onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"/>

                            <div class="controlInfo" id="btnAddCardEnter"
                                 style="height: 1.0em;font-size: 1.4em;padding: 0.5em;line-height: 1em;width: 50%;">
                                确定
                            </div>
                        </div>

                        <div class="controlInfo" id="selectOpenRoom">查看开房记录</div>

                        <div class="controlInfo" id="selectDialCard">查看拨付记录</div>
                        <div class="controlInfo" id="selectSaleTable">查看销售报表</div>
                        <div class="controlInfo" id="updatePwd">修改密码</div>
                        <div id="cardpanles" style="display: none">
                            <input type="password" id="txtOldPwd" class="border" value="" placeholder="请输入旧密码"/>
                            <input type="password" id="txtNewPwd" class="border" value="" placeholder="请输入新密码"/>

                            <input type="password" id="txtComfirmPwd" class="border" value="" placeholder="确认密码" />

                            <div class="controlInfo" id="btnUpdatePwd"
                                 style="height: 1.0em;font-size: 1.4em;padding: 0.5em;line-height: 1em;width: 50%;">
                                确定
                            </div>
                        </div>
                        <div class="controlInfo" id="btnExit">
                            退出
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="view">
            <div class="contain">
                <div class="userInfo">
                    <p>功能操作</p>
                    <div id="xxjb"></div>
                    <div class="controlInfo" id="btnAddCompany">
                        <button class="controlInfos" disabled>创建工会</button>
                    </div>
                    <div class="control" >
                        <div class="controlInfo" id="btnUpdateCompany" disabled>
                            <button class="controlInfos" disabled>编辑工会</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="view" >
            <div class="contain">
                <div class="userInfo">
                    <p>用户信息</p>
                    <div id="xxjb"></div>

                    <div>
                        <div id="rooms_btn" class="controlInfo">
                            房间列表
                        </div>
                        <div id="openroom" class="controlInfo">
                            开设房间
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--<div class="view" style="height: 5000px;">-->

    </div>
</div>

<div class="lgd " style="position: relative">
    <div id="head">开设房间 <img class="clickToBack"  src="images/fanhui.png"/></div>
    <div id="xxjb"></div>
    <!--<div id="chek1">-->
        <!--<span class="classify action">牛牛</span>-->
        <!--<span class="classify">跑得快</span>-->
        <!--<span class="classify">麻将</span>-->
    <!--</div>-->
    <!--<div class="title_f">-->
        <!--<div id="xxjb"></div>-->
        <!--<div class="title_t">游戏列表</div>-->
    <!--</div>-->
    <div id="chek2">
        <!--<div class="classify action">长沙麻将</div>
        <div class="classify">四川麻将</div>-->
    </div>
    <div class="title_f">
        <div id="xxjb"></div>
        <div class="title_t">玩法选择</div>
    </div>
    <div id="chek3">
        <!--<span>
            <input type="checkbox" class="mgc mgc-primary mgc-lg"/>
            这是一条游戏设置
        </span>
        <span>
            <input type="radio"  name="rad[1]">
              <input type="radio"  name="rad[1]" checked>
        </span>-->


    </div>
    <div id="button">
        创建房间
    </div>

    <div id="mask">
        <img  src="images/tishi.jpg" alt=""  class="tishi_img"/>
        <div id="msk_close">返回上级</div>
        <h2>房间号</h2>
        <div id="mask_number" class="mask_rows"></div>

        <p>详细信息</p>

        <div id="mask_game" class="mask_rows">游戏:15张跑的快</div>
        <div id="mask_news" class="mask_rows">房间状态:空闲</div>
        <!--<div id="mask_copy">-->
            <textarea name="name" id="shareContents" cols="1" rows="1" style="opacity: 0;float: left"></textarea>
            <div id="mask_copy_button" style="height: auto">复制信息</div>
        <!--</div>-->
    </div>
</div>

<div class="lgd">
    <div id="head">房间状态 <img class="clickToBack" src="images/fanhui.png"/></div>
    <div id="xxjb"></div>

    <div id="rooms">
        <!--<div class="row-f act">-->
				<!--<div class="rows" onclick = "rowsc(this)">-->
					<!--<span class="number">497933</span>-->
					<!--<span class="game">长沙麻将</span>-->
					<!--<span class="time">12分钟</span>-->
					<!--<span class="news">进行中</span>-->
				<!--</div>-->

				<!--<div class="content">-->
					<!--<span class="c_number">房间号:497933</span>-->
					<!--<span class="c_game">游戏:长沙麻将</span>-->
					<!--<span class="c_time">时间:12分钟</span>-->
					<!--<span class="c_news">状态:进行中</span>-->
					<!--<div class="btns share">分享</div>-->
					<!--<div class="btns close">解散</div>-->
				<!--</div>-->
			<!--</div>-->

    </div>
    <div id="maskt">
        <img  src="images/tishi.jpg" alt="" class="tishi_img" />
        <div id="mskt_close">返回上级</div>
        <h2>房间号</h2>
        <div id="maskt_number" class="mask_rows">497933</div>
        <p>详细信息</p>
        <div id="maskt_game" class="mask_rows">游戏:15张跑的快</div>
        <div id="maskt_news" class="mask_rows">房间状态:进行中</div>
        <!--<div id="maskt_copy">-->
            <textarea name="name" id="shareContent" cols="1" rows="1" style="opacity: 0;float: left;"></textarea>
            <div id="maskt_copy_button">复制信息</div>
        <!--</div>-->
    </div>
</div>

<div class="lgd room" id="roomInfo">
    <div id="head">
        开房记录
        <img src="images/fanhui.png" alt="图片加载错误" class="iclickToBack backRoom"/>
    </div>
    <!--<div id="xxjb"></div>-->

    <div class="saleContent openRoom">
        <ul></ul>
    </div>

</div>
<div class="lgd" id="cardInfo">
    <div id="head">
        拨卡记录
        <img src="images/fanhui.png" alt="图片加载错误" class="iclickToBack backRoom"/>
    </div>
    <!--<div id="xxjb"></div>-->

    <div class="saleContent card" >
        <ul>

        </ul>
    </div>

</div>

<div class="lgd" style="position: relative;width: 100%" id="myScroller">
    <div id="head">
        销售报表
        <img src="images/fanhui.png" alt="图片加载错误" class="backCard " id="saleBack" />
    </div>
    <div id="xxjb"></div>
    <div class="date_div">
        <span class="date_span">
            <input type="radio" class="mgr mgr-success myradio" name="time" />
            <p>最近7日</p>
            <input type="radio" class="mgr mgr-success myradio" name="time" />
            <p>最近30日</p>
            <input type="radio" class="mgr mgr-success myradio" name="time" />
            <p>本月</p>
        </span>
        <div id="saleButton">确定</div>
    </div>
    <div class="saleNum">
        销售数量 <span id="saleNum-span"></span>
    </div>
    <div class="saleContent">
        <p class="saleDetail">销售明细</p>
        <div class="saleData_div">
            <ul>
                <!--<li>-->
                    <!--<span class="li_span11">销售类型</span>-->
                    <!--<span class="li_span22">描述信息</span>-->
                    <!--<span class="li_span33">时间</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<span class="li_span1">待开房</span>-->
                    <!--<span class="li_span2">房间10155</span>-->
                    <!--<span class="li_span3">2017-10-1 15:00</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<span class="li_span1">待开房</span>-->
                    <!--<span class="li_span2">房间10155</span>-->
                    <!--<span class="li_span3">2017-10-1 15:00</span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<span class="li_span1">待开房</span>-->
                    <!--<span class="li_span2">房间10155</span>-->
                    <!--<span class="li_span3">2017-10-1 15:00</span>-->
                <!--</li>-->

            </ul>
        </div>

    </div>
    <!--<div id="pull-up">-->
    <!--&lt;!&ndash;<img src="rolling.svg" alt="" style="width:20px;height: 20px;">&ndash;&gt;-->
    <!--<span>下滑加载更多</span>-->
    <!--</div>-->

</div>

</body>


</div>
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/nav.js"></script>
<script src="js/input.js"></script>
<script src="js/gama.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script src="http://cdn.bootcss.com/jQuery.my/1.2.10/jquerymy.min.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="js/wx.js"></script>
<script>



    var id = $("#agentId").text()*1;

//    openRoom
    var socket = io('http://192.168.1.21:8066');  //要改

    socket.on('disconnect', function() {
//        window.location = "/admin/logout";
        duanx()
        console.log('发送重连消息')
    });
    var int;
    function fun1 () {
//      console.log("aaaa")
        if(socket.disconnected){
            socket.open();
        }
    }
    function duanx() {  //断线重连方法
        int = setInterval(fun1,3000)
        setTimeout(function () {
            if(socket.disconnected){
                window.location = "/admin/logout";
            }else {
                clearInterval(int)
            }
        },20000)
    }


    //修改密码
    $("#btnUpdatePwd").on("click",function(){
        var oldPwd=$("#txtOldPwd").val();
        var newPwd=$("#txtNewPwd").val();
        var confirmPwd=$("#txtComfirmPwd").val();

        var value={
            userId:$("#userId").text(),
            password:newPwd
        }
        if(newPwd == confirmPwd){
            $.post('/user/UpdatePassword',value,function(data){
               if(data.result==true){
                    alert("密码修改成功");
                   $("#txtOldPwd").val("");
                   $("#txtNewPwd").val("");
                   $("#txtComfirmPwd").val("");
                   $("#cardpanles").css("display","none");
               }
            });
        }else{
            alert("两次输入的密码不一致");
        }
    })

    //获取不同时间段的销售报表
    $("#saleButton").on("click",function(){
        $(".saleData_div ul").html("");

        var str='<li><span class="li_span11">销售类型</span>'+
            '<span class="li_span22">描述信息</span>'+
            '<span class="li_span33">时间</span></li>';

        var text=$("input:radio[name='time']:checked").next().text(); //获取选中的radio的兄弟元素P标签的文本值
        var currDate=new Date();  //当前时间
        var  beforeDay="";

        if(text == "最近7日"){
            beforeDay=getDaysBefore(7);
            $.post('/salesCardRecord/getSalesBydate',{
                userId:$("#userId").text(),
                startdate:beforeDay,
                enddate:currDate
            },function(data){
                if(data.result==true){
                    $("#saleNum-span").text(data.body.length);
                    data.body.forEach(function(item){
                       str += createSaleInfo(item);

                    });
                }
                $(".saleData_div ul").append($(str));
            });
       }else if(text== "最近30日"){
            beforeDay=getDaysBefore(30);
            $.post('/salesCardRecord/getSalesBydate',{
                userId:$("#userId").text(),
                startdate:beforeDay,
                enddate:currDate
            },function(data){
                if(data.result==true){
                    $("#saleNum-span").text(data.body.length);
                    data.body.forEach(function(item){
                        str += createSaleInfo(item);
                    });
                }
                $(".saleData_div ul").append($(str));
            });
        }else if(text=="本月"){
            beforeDay=getCurrentMonthLast();
            $.post('/salesCardRecord/getSalesBydate',{
                userId:$("#userId").text(),
                startdate:beforeDay,
                enddate:currDate
            },function(data){
                if(data.result==true){
                    $("#saleNum-span").text(data.body.length);
                    data.body.forEach(function(item){
                        str += createSaleInfo(item);
                    });
                }
                $(".saleData_div ul").append($(str));
            });
        }
    });
    //获取本月的第一天
    function getCurrentMonthLast(){
        var date =new Date();
        var curdate=new Date(date.setDate(1));
        var finDate=curdate.getFullYear() + '-' + (curdate.getMonth() + 1) + '-' + curdate.getDate() + ' '
            + curdate.getHours() + ':' + curdate.getMinutes() + ':' + curdate.getSeconds();
        return finDate;
    }
    //获取当前时间前面的时间
    function getDaysBefore(time){
        var date =new Date(),
            timestamp, newDate;
        if(!(date instanceof Date)){
            date = new Date(date.replace(/-/g, '-'));
        }
        timestamp = date.getTime();
        newDate = new Date(timestamp - time * 24 * 3600 * 1000);
        return [[newDate.getFullYear(), newDate.getMonth() + 1, newDate.getDate()].join('-'), [newDate.getHours(), newDate.getMinutes(), newDate.getSeconds()].join(':')].join(' ');
    }
    //创建销售报表信息
    function createSaleInfo(obj){
        text =  '<li><span class="li_span1">'+obj.describe+'</span>'+
                '<span class="li_span2">房间'+obj.room+'</span>'+
                '<span class="li_span3">2017-10-1 14:00</span></li>';

        return text;
    }

    $("#msk_close").click(function(){
        $("#shareContents").text("");
        var option = {
            url:"http://hot1.cofoland.com/cow/cow_nbw.apk",  //已改
            title:"牛霸王",            //已改
            desc:"牛霸王游戏下载"         //已改
        }
        asdce(option)
        $("#mask").removeClass("mask_top")
        $("#head").removeClass("filter")
        $(".row-f").removeClass("filter")
    })


    socket.on('room', function (data) {
//			        writeconsole(JSON.stringify(data));
        //socket.emit('my other event', { my: 'data' });
        console.log('收到消息-----');
        console.log(data);
        switch (data.tag){
            //创建成功
            case 1:
                console.log("ok")
                break;
            //游戏中转服务连接成功
            case 2:
                console.log(id)
                console.log("gameserver 连接成功");
                socket.emit('room',{agentId:id,tag:1});
                socket.emit('room',{agentId:id,tag:2});
                break;
            //游戏中转服务断开连接
            case 3:
                console.log("gameserver 断开连接")
                break;
            case 7:
                if(data.result){
                    var number = data.body.roomId;
                    var game = $(".action1").eq(0).text();
                    $("#mask").addClass("mask_top");
                    $("#head").addClass("filter")
                    $(".row-f").addClass("filter")

                    $("#mask_game").text(game);
                    $("#mask_number").text(number);

                    var roomNumber=$("#mask_number").text();
                    var name,dif,rens,jzs,nnbs,tzbs;
                    var newjzs;
                    name = $('.action1').text();//游戏名
                    dif = $('input:radio[name="wBaseScore"]:checked').attr("data-count"); //底分
//                    rens = $('input:radio[name="wGamePlayer"]:checked').attr("data-count"); //人数
                    jzs = $('input:radio[name="number"]:checked').next().text(); //总局数
                    newjzs=jzs.substr(0,2);
                    nnbs = $('input:radio[name="wDoubleRule"]:checked').attr("data-count")*1+2; //牛牛倍数
                    tzbs = $('input:radio[name="wPushCount"]:checked').attr("data-count")*1; //推注倍数
                    var str ='〖游戏名称〗    【'+name+'】\n';
                    str+='〖房间号码〗     【'+roomNumber+' 】\n';
                    str+='〖底分〗   【'+dif+'】\n';
                    str+='〖总局数〗   【'+newjzs+'】\n〖牛牛倍数〗  【'+nnbs+'】 \n〖推注倍数〗  【'+tzbs+'】\n'
                    str+='〖点击进房〗 ↓↓↓ \n  http://share1.cofoland.com/?sid='+roomNumber+'';
                    $("#shareContents").text(str);

                    var option = {
                        url:"http://share1.cofoland.com/share/room?sid="+number,     //已改
                        title:"快速进房",
                        desc:"邀请您进入游戏房间"
                    }
                    asdce(option)
                }else{
                    if(data.body.code == 13) alert("sorry，创建房间上限");
                    if(data.body.code == 12) alert("sorry，服务器已经被挤爆了");
                    if(data.body.code == 11) alert("sorry，创建配置错误，请重新操作");
                }
                break;
            case 4:
                $("#rooms").text("")
                console.log("接受到房间")
                data.roomList.forEach(function(item){
                    addroom(item)
                })
                break;
            case 5:
//                    接受房间删除成功消息
                if(data.result){
                    alert(data.roomId+"删除成功")
                    $("."+data.roomId+"").remove()
                }else{
                    alert(data.roomId+"删除失败")
                }
                break;

            case 6:


                //接受房间状态改变的消息
                if(data.body.roomStatus == 2){
                    $("."+data.body.roomId+"").remove();
                }else if(data.body.roomStatus == 1){
                    var roomzt = "游戏中";
                    var dom = $("."+data.body.roomId+"");
                    if(dom.length == 0){
                        addroom(data.body)
                    }
                    dom.find(".c_news").eq(0).text(roomzt);
                    dom.find(".news").eq(0).text(roomzt);
                    dom.find(".currentCount").eq(0).text("当前局数"+data.body.currentCount);
                    dom.find(".gameCount").eq(0).text(data.body.gameCount);

                }else if(data.body.roomStatus == 0) {
                    var roomzt = "空闲";
                    var dom = $("."+data.body.roomId+"");
                    if(dom.length == 0){
                        addroom(data.body)
                    }
                    dom.find(".c_news").eq(0).text(roomzt);
                    dom.find(".news").eq(0).text(roomzt);
                    dom.find(".currentCount").eq(0).text("总局数:"+data.body.currentCount);
                    dom.find(".gameCount").eq(0).text("当前局数:"+data.body.gameCount);


                }
                break;
            case 8:
//            	console.log("欸呀呀")
                socket.emit('room',{agentId:id,tag:2});
                break;
            case 199:
//                io.socket.reconnect();
                alert("您的账号在别的设备登陆")
                window.location = "/admin/logout";
                break;
        }
    });
    function writeconsole(content){
        $("#console").append(content + "\n");
        var psconsole = $('#console');
        if(psconsole.length)
            psconsole.scrollTop(psconsole[0].scrollHeight - psconsole.height());
    }
    $("#button").on("click",function(){
        var kindId = $(".action1").attr("data-kindid")*1;
        var kId = $('input:radio[name="number"]:checked');
        if(kId.length !== 0){
            if(kindId == 10 || kindId == 11){//牛牛创建房间
                var wGamePlayer = $('input:radio[name = "wGamePlayer"]:checked').attr("data-count");
                var wBaseScore = $('input:radio[name = "wBaseScore"]:checked').attr("data-count");
                var wDoubleRule = $('input:radio[name = "wDoubleRule"]:checked').attr("data-count");
                var wRobCount = $('input:radio[name = "wRobCount"]:checked').attr("data-count");
                var wPushCount = $('input:radio[name = "wPushCount"]:checked').attr("data-count");
                var wSpecialKind = 0;
                $('input:checkbox[name = "wSpecialKind"]:checkbox').each(function (i) {
                    if(true == $(this).is(':checked')){
                        wSpecialKind = wSpecialKind|parseInt($(this).attr("data-count"));
                    }
                })
                socket.emit('room',{tag:3,agentId:id,kId:kId.attr("data-keyid")*1,kind:kindId,wGamePlayer:wGamePlayer,wBaseScore:wBaseScore,wDoubleRule:wDoubleRule,wRobCount:wRobCount,wPushCount:wPushCount,wSpecialKind:wSpecialKind});
                return;
            }

        }else{
            alert("先选择玩法");
        }

    })

//    rooms

    function addroom (obj){
        if(obj.roomStatus == 0) var roomzt = "空闲";
        if(obj.roomStatus == 1) var roomzt = "游戏中";
        if(obj.roomStatus == 2) return;
        game.forEach(function(item){
            var kindId = parseInt(obj.roomId/10000)
            if(item.kindId == kindId ) {
                var str = '<div class="row-f '+obj.roomId+'">';
                str+='<div class="rows" onclick = "rowsc(this)">';
                str+='<span class="number">'+obj.roomId+'</span>';
                str+='<span class="game">'+item.name+'</span>';
//                str+='<span class="time">12分钟</span>';
                str+='<span class="news">'+roomzt+'</span>';
                str+='</div>';

                str+='<div  class="content">';
                str+='<span class="c_number">房间号:'+obj.roomId+'</span>';
                str+='<span class="c_game">游戏:'+item.name+'</span>';
//                str+='<span class="c_time">时间:12分钟</span>';
                str+='<span class="c_news">状态:'+roomzt+'</span>';
                str+='<span class="currentCount">当前局数:'+obj.currentCount+'</span>';
                str+='<span class="gameCount">总局数:'+obj.gameCount+'</span>';
                str+='<div data-roomId="'+obj.roomId+'" onclick = "mask(this)" class="btns share">分享</div>';
                str+='<div data-roomId="'+obj.roomId+'" onclick = "closeRoom(this)" class="btns close">解散</div>';
                str+='</div>';
                str+='</div>';

                $("#rooms").append($(str))

            }
        })
    }
    function closeRoom (obj){
        var roomId = $(obj).attr("data-roomId")*1
        if(confirm("确定解散"+roomId+"号房间？")){
            socket.emit('room',{agentId:id,tag:4,roomId:roomId})
        }

    }
    function rowsc (obj){
        $(".act").removeClass("act");
        $(obj).parents('.row-f').addClass("act");
    }

    $("#openroom").click(function () {
        $(".lgd").removeClass("act_lgd");
        $(".lgd").eq(1).addClass("act_lgd")
    })
    $("#rooms_btn").click(function () {
        $(".lgd").removeClass("act_lgd");
        $(".lgd").eq(2).addClass("act_lgd")
    })
    $(".clickToBack").on("click",function(){
//        alert("aaa")
        $(".lgd").removeClass("act_lgd");
        $(".lgd").eq(0).addClass("act_lgd")
    });
    $(".iclickToBack").on("click",function(){
//        alert("aaa")
        $(".lgd").removeClass("act_lgd");
        $(".lgd").eq(0).addClass("act_lgd");
    });
    $("#saleBack").on("click",function(){
//        alert("aaa")
        $(".lgd").removeClass("act_lgd");
        $(".lgd").eq(0).addClass("act_lgd");
        $(".saleData_div ul").html("");
        $("input:radio[name='time']").removeAttr("checked");
        $("#saleNum-span").text("");

    });

    //查看开房记录
    $("#selectOpenRoom").on("click",function(){

        $("#openRoom").text("");
        $(".lgd").removeClass("act_lgd");
        $(".lgd").eq(3).addClass("act_lgd");
        var option={
            userId: $("#userId").text(),
            skip:0,
            limit:5
        }
        $.post('/salesCardRecord/findRoomCardByUserID',option,function(data){
            if(data.result==true){
                data.body.forEach(function(item){
                    var str=creatStr2(item);
                    $(".openRoom").append($(str));
                })
            }
        });
    });
    function creatStr2(obj){
        var time = getTime(obj.createdAt);
        var str='<li class="item"><div id="xxjbs"></div><div class="userImg">'+
            '<img src="images/tim.png"/></div><div class="userInfo_select">'+
            '<p>游戏账户 '+obj.gameAccess+'</p><p>游戏名称 '+obj.describe+'</p></div><div class="countBoxs">'+
            '<p class="saleCounts">'+obj.count+'</p><p class="saleTimes">'+time+'</p></div>'+
            '<div style="clear:both"></div></li>';

        return str;
    }

    //查看波卡记录
    $("#selectDialCard").on("click",function(){

        $(".dropload-down").remove();

        $("#card").text("");
        $(".lgd").removeClass("act_lgd");
        $(".lgd").eq(4).addClass("act_lgd");


        var option = {
            userId : $("#userId").text(),
            limit : 5,
            skip : 0
        }

        $.post("/SalesCardRecord/findDialCardByUserID",option,function (data) {
            if(data.result){
                data.body.forEach(function (item) {
                    var str = creatStr1(item);
                    $(".card").append($(str))
                });
            }
        });

    })
    //查看销售报表
    $("#selectSaleTable").on("click",function(){
        $(".dropload-down").remove();
        $(".lgd").removeClass("act_lgd");
        $(".lgd").eq(5).addClass("act_lgd");
    });

    function  creatStr1(obj) {
        var text="";
        var time = getTime(obj.createdAt);
        if(obj.LogoInfo==0){
            text = '<li class="item">'
            text += '<div id="xxjbs"></div>'
            text += '<div class="userImg">'
            text += '<img src="images/tim.png"/></div>'
            text += '<div class="userInfo_select">'
            text += '<p>游戏ID 0000</p>'
            text += '<p>'+obj.describe+'</p></div>'
            text += '<div class="countBoxs">'
            text += '<p class="saleCounts">'+obj.count+'</p>'
            text += '<p class="saleTimes">'+time+'</p></div>'
            text += '<div style="clear:both"></div></li>'

        }else{
            text = '<li class="item">'
            text += '<div id="xxjbs"></div>'
            text += '<div class="userImg">'
            text += '<img src='+obj.LogoInfo+' /></div>'
            text += '<div class="userInfo_select">'
            text += '<p>游戏ID 0000</p>'
            text += '<p>'+obj.describe+'</p></div>'
            text += '<div class="countBoxs">'
            text += '<p class="saleCounts">'+obj.count+'</p>'
            text += '<p class="saleTimes">'+time+'</p></div>'
            text += '<div style="clear:both"></div></li>'
        }
        return text
    }
    //计算时间差
    function getTime(oldTime){

        var date=new Date();
        //时间差的毫秒数
        var date1=date.getTime()- new Date(oldTime).getTime();
        date1 = date1/1000/60;
        if(date1 >= 60){
            date1 = date1/60
            if(date1 >= 24 ){
                date1 = date1/24
                return Math.ceil(date1)+'天'
        }else {
            return Math.ceil(date1)+'小时'
        }
    }else {
        return Math.ceil(date1)+'分钟'
        }

    }
    function mask (obj){

        var number = $(".act").find(".number").eq(0).text();
        var game = $(".act").find(".game").eq(0).text();
        var news = $(".act").find(".news").eq(0).text();
        $("#maskt").addClass("maskt_top");
        $("#head").addClass("filter")
        $(".row-f").addClass("filter")

        $("#maskt_game").text(game);
        $("#maskt_number").text(number);
        $("#maskt_news").text(news);

        var str = '〖游戏名称〗    ->【'+game+'】\n';
        str+='〖房间号码〗     ->【'+number+' 】\n';
        str+='〖点击进房〗 ↓↓↓ \n  http://share1.cofoland.com/?sid='+number+'';
        $("#shareContent").text(str);

        var option = {
            url:"http://share1.cofoland.com/share/room?sid="+number,   //已改
            title:"快速进房",
            desc:"邀请您进入游戏房间"
    }

        $("#shareContent").text(str);

        var option = {
            url:"http://share1.cofoland.com/share/room?sid="+number,   //已改
            title:"快速进房",
            desc:"邀请您进入游戏房间"
        }
        asdce(option)
    }
    $("#mskt_close").click(function(){
        var option = {
            url:"http://hot1.cofoland.com/cow/cow_nbw.apk",   //已改
            title:"牛霸王",                                 //已改
            desc:"牛霸王游戏下载"                      //已改
        }
        asdce(option)
        $("#maskt").removeClass("maskt_top")
        $("#head").removeClass("filter")
        $(".row-f").removeClass("filter")
        $("#shareContent").text("");
    })

    $(document).ready(function () {
        //复制内容
        $("#maskt_copy_button").click(function(){
            var content=document.getElementById("shareContent");
            content.select(); // 选择对象
            document.execCommand("Copy"); // 执行浏览器复制命令
            alert("复制成功，请在微信中打开。");
        });
        $("#mask_copy_button").click(function(){
            var content=document.getElementById("shareContents");
            content.select(); // 选择对象
            document.execCommand("Copy"); // 执行浏览器复制命令
            alert("复制成功，请在微信中打开。");
        })



//        socket.emit('room',{agentId:id,tag:1});
        asdce({
            url:"http://hot1.cofoland.com/cow/cow_nbw.apk",        //已改
            title:"牛霸王",                                    //已改
            desc:"牛霸王游戏下载"                               //已改
        })
            $("body").css("min-height",$(document).height())
            $("body,html").width($(window).width())
            $(".border").on("click", function () {
                $(".border").css("border-color", "rgba(0,0,0,0)")
                $(this).css("border-color", "#fff")
            })
//        function alert(title, content) {
//            var inst = $('[data-remodal-id=modal]').eq(0).remodal();
//            $("#m_title").text(title);
//            $("#m_content").text(content);
//            inst.open();
//        }


        //获取用户销售数据
        $.ajax({
            url: '/user/getUserInfo',
            type: 'post',
            data: {
                userId: $("#userId").text(),
            },
            success: function (data, textStatus, jqXHR) {
                $("#sales_count").text(data.salesNum);
                $("#stock_count").text(data.inventoryNum);
                $("#recharge_count").text(data.customerNum);
            },
            error: function (xhr, textStatus) {
                console.log(xhr);
                console.log(textStatus);
            }
        });

        $("#btnAddCard").click(function () {

            $("#cardpanle").toggle("slow");
        });
        $("#updatePwd").click(function(){
            $("#cardpanles").toggle("slow");
        })
        $("#btnExit").click(function () {
            window.location = "/admin/logout";
        });


        $("#btnAddCardEnter").click(function () {
            $.ajax({
                url: '/SalesCardRecord/SellCard',
                type: 'post',
                data: {
                    gameId: $("#gameId").text(),
                    channelId: 0,
                    count: $("#txtCardCount").val(),
                    playId: $("#txtUserId").val(),
                    userId: $("#userId").text(),
                },
                success: function (data, textStatus, jqXHR) {
                    console.log(data)
                    if (data.result) {
                        $.ajax({
                            url: '/user/getUserInfo',
                            type: 'post',
                            data: {
                                userId: $("#userId").text(),
                            },
                            success: function (data, textStatus, jqXHR) {
                                $("#sales_count").text(data.salesNum);
                                $("#stock_count").text(data.inventoryNum);
                                $("#recharge_count").text(data.customerNum);
                            },
                            error: function (xhr, textStatus) {
                                console.log(xhr);
                                console.log(textStatus);
                            }
                        });
                        $("#cardpanle").css("display","none");
                        $("#txtCardCount").val("");
                        $("#txtUserId").val("");
                        alert('充卡成功！');
                    } else {
                        switch (data.body.errCode) {
                            case "005":
                                alert("库存不足");
                                break;
                            case "021":
                                alert("用户不存在");
                                break;
                            case "024":
                                alert("未知错误请联系客服");
                                break;
                            case "009":
                                alert("权限不够，请重新登陆");
                                break;
                        }
                    }

                },
                error: function (xhr, textStatus) {
                    console.log(xhr);
                    console.log(textStatus);
                }
            })
        });
    })

</script>
</html>
