



<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
</head>
<script type="text/javascript">
    var socket = io('http://192.168.1.43:1337/');
    socket.on('test/test3', function (data) {
        console.log(data);
        socket.emit('my other event', { my: 'data' });
    });
    socket.emit('test');
</script>

<body>
socket.io
</body>
</html>
