#nav{
	/*width: 100%;*/
	height: 90px;
	background-color: rgba(35,35,35,.95);
	position: fixed;
	left: 0;
	top: 0;
	transition: top .4s;
}
.top{
	top: -90px !important;
}
/*#nav>div{
	margin: .5em auto;
	width: 85%;
}*/
#nav>h2{
	margin: 6% 0 0 6%;
}
.btn-f{
	text-align: center;

	/*margin: 0 !important;*/
}

.btn-f>span{
    border-radius: 10px;
    width: 26%;
    display: inline-block;
    padding: .5em 0;
    margin: 2em 0;
    font-size: 12px;
}

.btn{
	position: relative;
	text-indent: 16px;
}
.btn img{
	height: 14px;
	display: inline-block;
	position: absolute;
    left: 6px;
	/*padding-top:2px ;*/
}
.action{
	background-color: #8f53c6;
}
.view{
	/*width: 100%;*/
	float: left;
}
.view_f{
	margin-left: 0;
    overflow: hidden;
}
#on-off{
	width: 3em !important;
	height: 3em;
	background-color: red;
	position: fixed;
	right: 15%;
	bottom: 20%;
}


.lgd{
    display: none;
}
.act_lgd{
    display: block;
}

