.rechargeContent{
	width:100%;
}
.rechargeContent>ul{
	width:100%;
	padding: 0;
}
.rechargeContent>ul .item{
	width:100%;
	height:2.5em;
	font-size:3em;
	border-radius: 1em;
	border:3px solid #ffffff;
	color:#ffffff;
	margin-bottom: 1em;
	background: -webkit-linear-gradient(left, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
}
.item span {
	display: inline-block;
	width:32%;
    line-height: 2.5em;
    text-align: center;
    font-weight: bold;
}
.item p {
	width:100%;
    margin-bottom: 0;
    font-size: .7em;
    float: left;
    line-height:1.6em;
}
.time{
	text-align: center;
    float: right;
    height: 2.5em;
    font-size: 1em;
}
