
.row-f{
	margin-top: .5em;
	width: 90%;
}
.act>.content{
    height: 11em;
    border: 1px solid #ffffff;
    position: relative;
    border-radius: 10px;
    font-size: 12px;
}
.rows{
	width:100%;
	height:2em;
	border-radius: 2em;
	/*border:3px solid #ffffff;*/
	color:#ffffff;
    margin: 1em 0 .5em 0;
	background: -webkit-linear-gradient(left, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
}
.btns{
	color:#ffffff;
	width: 25%;
	line-height: 2em;
	height: 2em;
	border-radius: 1em;
	position: absolute;
	text-align: center;
	background: -webkit-linear-gradient(top, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(bottom, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(bottom, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
}
.close{
	bottom: 10%;
	right: 20%;
}
.share{
	bottom:10%;
	left: 20%;
}
.content{
	transition: all .4s;
	width: 100%;
	height: 0;
	border-radius: 2em;
	border: none;
	overflow: hidden;
	position: relative;
    margin-bottom: 4%;
}
.rows>span{
	color: #fff;
	font-size: 12px;
	line-height: 2.7em;
	text-indent: 1em;
	float: left;
	display: inline-block;
}
.rows>.number{
	width: 20%;
}
.game{
	width: 35%;
}
.time{
	width: 25%;
}
.news{
	width: 20%;
}
.content>span{
	display: inline-block;
	width: 50%;
	line-height: 2em;
	text-indent: 2em;
	float: left;
}

#mask{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #000;
    opacity: .85;
    top: 110%;
    left: 0;
    transition: top .3s;
    filter:none !important;
    /*position: relative;*/
}
.mask_top{
    top: 0 !important;
}

#mask>img{
    width: 60%;
    float: right;
    margin: 1em;
}

#msk_close{
    width: 3em;
    height: 3em;
    text-align: center;
    /*transform: rotate(-90deg);*/
    display: block;
    margin-left: -2em;
    font-weight: bold;
    position: absolute;
    bottom: 16%;
    left: 50%;
    background-color: #fff;
    border-radius: 50%;
    color: #000;
    line-height: 1.5em;
    padding: .5em;
}
#mask>h2{
    margin-top: 35%;
    font-size: 2em;
    display: block;
    text-align: center;
}
#mask>p{
    font-size: 1.5em;
    display: block;
    text-align: center;
}
.mask_rows{
    width:85%;
    height:2em;
    line-height: 2em;
    text-align: center;
    border-radius: .6em;
    border:3px solid #ffffff;
    color:#ffffff;
    margin: 1em auto;
    font-size: 1em;
    background: -webkit-linear-gradient(left, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
}

.filter{
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */

    -webkit-filter: blur(10px); /* Chrome, Opera */
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
