.saleContent{
	width:100%;
}
.saleContent>ul{
	width:100%;
}
.saleContent>ul .item{
	color:#ffffff;
	font-size:3em;
	width:100%;
	padding-bottom: 1em;
	margin-bottom: 1em;
	border-bottom: 3px solid transparent;
    border-image: url(../images/row.jpg) 30 stretch;
    border-top: 0;
}
.saleContent>ul .item:last-child{
	border:0;
}
.userImg {
    width: 20%;
    height:4em;
    display: inline-block;
    background: -webkit-linear-gradient(,#815db5, #362a58); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#815db5, #362a58); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#815db5, #362a58); /* Firefox 3.6 - 15 */
    background: linear-gradient(#815db5, #362a58); /* 标准的语法（必须放在最后） */
   border-radius: 50%;
   text-align: center;
}
.userImg img{
	display: inline-block;
	width:85%;
	height:85%;
	border-radius: 50%;
	background: #ffffff;
	margin-top:.3em;
}
.userInfo {
    width: 60%;
    display: inline-block;
    vertical-align: middle;
}
.userInfo p {
    margin-left: 1em;
}
.countBox {
    width: 17%;
    display: inline-block;
    vertical-align: middle;
}
.countBox  span{
	width:100%;
	display: block;
	text-align: center;
}
.countBox .saleCount{
	height:2.5em;
	width:2.5em;
	font-weight: bold;
	line-height: 2.5em;
	border-radius: .5em;
	border:3px solid #ffffff;
	margin-bottom: .5em;
	background: -webkit-linear-gradient(right bottom,#472fab, #af63cf); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right bottom,#472fab, #af63cf); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right bottom,#472fab, #af63cf); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right bottom,#472fab, #af63cf); /* 标准的语法（必须放在最后） */
}
.saleTime{
	font-size: .7em;
}
