/*销售记录和充值记录页面共同的头部样式*/
*{
	margin:0 auto;
	padding : 0;
}
ul li{
	list-style: none;
}
html,body{
    width:100%;
    height:100%;
    overflow-x: hidden;
    background: #31244f;
}
.contain {
    width: 85%;
    height: 100%;
}
.rechargeHeader{
	width:100%;
	font-size: 4.5em;
	margin-top:1.5em;
	padding-bottom: .5em;
    text-indent: .5em;
    border-bottom: 8px solid transparent;
    border-image: url(../images/row.jpg) 30 stretch ;
    border-top: 0;
    color:#ffffff;
    margin-bottom: 1em;
}
.rechargeHeader i{
	float: right;
	margin-right:.5em;
}
