*{
	margin:0 auto;
	padding: 0 ;
}
body{
	background-color: #31244f;
	color:#ffffff;
    font-size: 16px;
    position: relative;
    padding-bottom: 8em;
}
ul li{
	list-style: none;
}
a{
	text-decoration: none;
}
#head{
    font-size: 1.5em;
    margin: .5em;
    text-align: center;
    text-indent: -1em;
}
#head>img{
    float: left;
    margin-top: 2px;
}
.contain{
	width:85%;
	height:100%;
}
.userInfo{
	width:100%;
	height:100%;
}
.userInfo>p{
	font-size: 1em;
    margin-top: .5em;
    text-indent: .8em;
    border-top:0;
}
.content>p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
}
.sailsInfoBox {
    width: 90%;
    margin-left: 5%;
}
.sailsInfo {
    display: inline-block;
    font-size: 1em;
    width: 25%;
    margin: 0 3%;
    padding: .3em 0;
    text-align: center;
    border-radius: .8em;
    background: -webkit-linear-gradient(left, #8e3ab4, #60068a); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #8e3ab4, #60068a); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #8e3ab4, #60068a); /* Firefox 3.6 - 15 */
    background: linear-gradient(to bottom, #8e3ab4, #60068a); /* 标准的语法（必须放在最后） */
    font-family:Helvetica;
}
.sailsInfo>p {
    font-size: .9em;
}
.sailsInfo>span {
    font-size: 1em;
}
.control>p {
    /*margin-top: 1em;*/
    text-indent: .8em;
}
#xxjb{
	width: 90%;
	height: 2px;
	margin: .5em auto;
	margin-bottom: 1em;
	background: -webkit-linear-gradient(left, #3626ab, #bc69d3); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #3626ab, #bc69d3); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #3626ab, #bc69d3); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #3626ab, #bc69d3); /* 标准的语法（必须放在最后） */
}
.controlInfo {
    width: 90%;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    color: #000000;
    background: #ffffff;
    margin-top: 1em;
    border-radius: 1em;
}
.controlInfos{
    width: 100%;
    font-size: 1em;
    text-align: center;
    background: #ffffff;
    border:0;
    border-radius: 1em;
}
#mask_copy,#maskt_copy{
    font-size: 14px;
    width: 21%;
    height: 1.5em;
    text-align: center;
    /*transform: rotate(-90deg);*/
    display: block;
    margin-left: -29%;
    font-weight: bold;
    position: absolute;
    bottom: 16%;
    left: 50%;
    /*background-color: #fff;*/
    border-radius: .5em;
    color: #000;
    line-height: 1.5em;
    padding: .5em;
}
#mask_copy_button,#maskt_copy_button{
    font-size: 14px;
    width: 20%;
    height: 1.5em;
    text-align: center;
    /*transform: rotate(-90deg);*/
    display: block;
    margin-left:-5%;
    font-weight: bold;
    position: absolute;
    bottom: 20%;
    left: 25%;
    background-color: #fff;
    border-radius: .5em;
    color: #000;
    line-height: 1.5em;
    padding: .5em;

}
